html, body {
  min-width: 260px;
  color: black;
  background-color: #5680e9;
  font-family: 'Open Sans', Arial;
  line-height: 1.1; 
    top:0;
    bottom:0;
    left:0;
    right:0;
}
a:hover,a:visited { color:#000; }

nav {
  position: fixed;
  top: 0px;
  left: 0px;
  min-width: 260px;
  width: 20%;
  background-color:#e85a4f;
  display: flex;
  flex-direction: column;
}

#navdiv{
  position: fixed;
  background-color: #e85a4f;
  width: 20%;
  min-width: 260px;
  height: 100%;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

#intro {
  margin-top: 3%;
  margin-bottom: 5%;
}

#aboutbox{
  font-size: 1.3em;
}

#aboutbox > h3 {
  text-align: center;
  margin-top: 1%;
}


#navgrid {
  margin-top: 1%;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 98%;
}

main {
  position: relative;
  margin-left: 22%;
  margin-bottom: 100px;
  text-align: left;
}

.navbox {
  width: 80%;
  border-radius: 10px;
  margin: auto;
  margin-top: 5px;
  margin-bottom: 5px;
}



.navbox > img {
  width: 100%;
}

.introboxes {
  align-items: center;
  border-radius: 0px;
  width: 95%;
  margin: auto;
}

#intro {
  align-items: center;
}

#introtext {
  text-align: center;
  font-weight: bold;
  padding-bottom: 10px;
  font-size: 1.6em;
  padding: 5px;
}

#introtext > h3 {
  margin: 0;
  font-size: 2em;
}

#abouttext {
  font-size: 1em;
  margin-top: 5%;
  margin-bottom: 5%;
}

#profile {
  margin: 0px;
  padding: 0px;
  justify-items: center;
  text-align: center;
  height: 30%;
}



#profile > h1 {
  margin-top: 2%;
  margin-bottom: 0.5%;
  font-size: 2em;
}

#profilegrid {
  margin-top: 1%;
  justify-items: center;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.profilebox {
  background-color: #e98074;
  margin: 10px;
  width: 60%;
  height: 80%;
  border-radius: 35px;
}

.profilebox > h3 {
  text-align: center;
  font-weight: bold;
  font-size: 1.3em;
  font-family: Georgia;
  height: 10%;
}

.profilebox > ul {
  padding-left: 25px;
  height: 90%;
  font-size: 1em;
  line-height: 1.5;
  list-style-type: none;
  font-weight: bold;
  padding: 0;
  border-radius: 60px;
}

.profilebox > ul > li {
  border-top: solid #5680e9;
}

 .profilebox > ul > li:nth-child(odd) {
}

.profilebox > h3 {
  height: 15%;
  margin: 0;
  padding: 0;
  font-size: 1.7em;
}

#langgrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 75%;
  margin-top: 4%;
  margin-bottom: 0%;
  padding-bottom: 0%;
  font-size: 2.5em;
  font-weight: bold;
}

.langbox {
  border-top: solid #5680e9;
}

.langboxleft {
  border-right: solid #5680e9;
}

#projects {
  margin-top: 5%;
  justify-items: center;
  text-align: center;
  height: 30%;
}

#projects > h1 {
  font-size: 2em;
}

#projectgrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  max-width: 100%;
  margin-top: 2%;
  margin-bottom:0%;
  padding-bottom: 0%;
  font-size: 1em;
}

.projectbox {
  background-color: #e98074;
  max-width: 400px;
  height: 90%;
  margin: 10px;
  padding: 5%;
  width: 80%;
  border-radius: 35px;
}

.projectbox > img {
  width: 100%;
  height: auto;
}

a:link { text-decoration: none; }

a:visited { text-decoration: none; }

a:hover { text-decoration: none; }

a:active { text-decoration: none; }